$primary:#003E74 !important;
$txt:#585858;

.footer-bg {
    background: #003E74;
}

html {
    overflow-x: hidden;
}

// font

@font-face {
    font-family: "poppins-regular";
    src: url(../fonts/Poppins-Regular.otf);
}

@font-face {
    font-family: "poppins-medium";
    src: url(../fonts/Poppins-Medium.otf);
}

@font-face {
    font-family: "poppins-bold";
    src: url(../fonts/Poppins-Bold.otf);
}

@font-face {
    font-family: "poppins-Light";
    src: url(../fonts/Poppins-Light.otf);
}


.flex-fill {
    flex: 1 !important;
}

body {
    overflow-x: hidden;
    font-family: 'poppins-light';
}

.bg-olive {
    background: #82792B;
}

.bg-coral {
    background: coral;
}

.bg-pearl {
    background: #782967;
}

.bg-till {
    background: #0093A0;
}

.bg-d-green {
    background: #003E4C;
}

.txt-default {
    color: #64686a;
}

.bg-primary {
    background-color: $primary !important;
}

// top bar css

.topbar {
    border-bottom: 1px solid #d3d3d363;
    background: $primary;

    .items {
        font-size: 14px;
        color: #eee;

        .iconify {
            font-size: 18px;
            color: #eee;
        }
    }
}

//   navbar css

.siteHeader {
    .navbar-brand {
        img {
            @media(min-width:769px) {
                transform: translateY(-13px);
            }
        }
    }

    .navCustom {
        .nav-item {
            .nav-link {
                margin-right: 14px;
                font-size: 17px;
                color: #525252;
                padding: 8px 18px;
                border-radius: 4px;
                font-family: 'poppins-medium';

                &:hover {
                    color: $primary;
                }

                &.active {
                    background-color: $primary;
                    color: #fff !important;
                }
            }


        }
    }
}

// slider css

.carousel-indicators {
    bottom: 15px;

    button {
        height: 10px !important;
        width: 10px !important;
        border-radius: 50%;
        border: 2px solid #fff !important;
    }
}

.sectionTitle {
    font-size: 2rem;
    text-align: center;
    color: #000;
    font-family: 'poppins-bold';
    padding: 15px 0;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    background: #fff;
    padding: 14px;

    &::before {
        content: '';
        width: 131%;
        height: 2px;
        background-color: #1c1c1c;
        position: absolute;
        top: 38px;
        left: -16%;
        right: -8%;
        z-index: -1;


    }

    @media(max-width:768px) {
        &::before {
            display: none;
        }

    }
}

// services

.services {
    .items {
        height: 150px;
        overflow: hidden;
        position: relative;
        margin-bottom: 23px;
        border-radius: 4px;
        width: 100%;
        border-radius: 10px;

        .title {
            color: #fff !important;
            font-weight: 400 !important;
            padding: 12px 15px;
            text-transform: capitalize;
            text-align: left;
            -webkit-transition: all 0.5s ease;
            transition: all 0.4s ease;
            transform: scale(1);
            font-size: 21px;
        }

        img {
            position: absolute;
            top: 100%;
            height: 100%;
            width: 100%;
            height: 150px;
            object-fit: cover;
            transition: all 0.4s ease;
        }

        .iconify {
            position: absolute;
            bottom: 10%;
            right: 13%;
            font-size: 1.8rem;
            transition: all 0.4s ease;
            color: #fff;
        }

        &:hover {
            img {
                top: 0;
                filter: brightness(0.7);
            }

            .iconify {
                position: absolute;
                z-index: 1;
                color: #fff;
                bottom: 20%;
                right: 45%;
            }

            .title {
                transform: scale(1.1);
                position: relative;
                z-index: 1;
                color: #fff !important;
                text-align: center;
                background: rgba(0, 0, 0, 0.342);
            }
        }
    }
}


.slick-dots li button {
    background: lightgrey !important;

    &:before {
        opacity: 0 !important;
    }
}

.slick-dots {
    li {
        &.slick-active {
            button {
                background: #0038C5 !important;

            }
        }
    }
}

#contact {
    font-size: 16px;
    font-family: "poppins-Light";

    .iconify {}
}

footer {
    .nav-item {
        a {
            color: lightgray !important;
            text-decoration: none;

            &:hover {
                color: white !important;
            }
        }
    }


}

.social {
    display: flex;
    align-items: center;

    a {
        margin: 0 11px 0 0;
        text-decoration: none;

        .iconify {
            font-size: 1.5rem;
        }

        color: #0d6efd;

        &:hover {
            color: lightgray;
        }
    }
}