.footer-bg {
  background: #003AC8 !important;
}

html {
  overflow-x: hidden;
}

@font-face {
  font-family: "poppins-regular";
  src: url(../fonts/Poppins-Regular.otf);
}

@font-face {
  font-family: "poppins-medium";
  src: url(../fonts/Poppins-Medium.otf);
}

@font-face {
  font-family: "poppins-bold";
  src: url(../fonts/Poppins-Bold.otf);
}

@font-face {
  font-family: "poppins-Light";
  src: url(../fonts/Poppins-Light.otf);
}

.flex-fill {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 !important;
          flex: 1 !important;
}

body {
  overflow-x: hidden;
  font-family: 'poppins-light';
}

.bg-olive {
  background: #82792B;
}

.bg-coral {
  background: coral;
}

.bg-pearl {
  background: #782967;
}

.bg-till {
  background: #0093A0;
}

.bg-d-green {
  background: #003E4C;
}

.txt-default {
  color: #64686a;
}

.bg-primary {
  background-color: #003AC8 !important !important;
}

.topbar {
  border-bottom: 1px solid #d3d3d363;
  background: #003AC8 !important;
}

.topbar .items {
  font-size: 14px;
  color: #eee;
}

.topbar .items .iconify {
  font-size: 18px;
  color: #eee;
}

.siteHeader .navCustom .nav-item .nav-link {
  margin-right: 0;
  font-size: 16px;
  color: #525252;
  padding: 8px 12px;
  border-radius: 4px;
  font-family: 'poppins-medium';
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .siteHeader .navCustom .nav-item .nav-link {
    font-size: 14px;
  }
}

.siteHeader .navCustom .nav-item .nav-link:hover {
  color: #003AC8 !important;
}

.siteHeader .navCustom .nav-item .nav-link.active {
  color: #003AC8 !important;
}

.carousel-indicators {
  bottom: 15px;
}

.carousel-indicators button {
  height: 10px !important;
  width: 10px !important;
  border-radius: 50%;
  border: 2px solid #fff !important;
}

.sectionTitle {
  font-size: 2rem;
  text-align: center;
  color: #000;
  font-family: 'poppins-bold';
  padding: 15px 0;
  margin-bottom: 50px;
  position: relative;
  display: inline-block;
  background: #fff;
  padding: 14px;
}

.sectionTitle::before {
  content: '';
  width: 131%;
  height: 2px;
  background-color: #1c1c1c;
  position: absolute;
  top: 38px;
  left: -16%;
  right: -8%;
  z-index: -1;
}

@media (max-width: 768px) {
  .sectionTitle::before {
    display: none;
  }
}

.services .items {
  height: 150px;
  overflow: hidden;
  position: relative;
  margin-bottom: 23px;
  border-radius: 4px;
  width: 100%;
  border-radius: 10px;
}

.services .items .title {
  color: #fff !important;
  font-weight: 400 !important;
  padding: 12px 15px;
  text-transform: capitalize;
  text-align: left;
  -webkit-transition: all 0.5s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
  font-size: 21px;
}

.services .items img {
  position: absolute;
  top: 100%;
  height: 100%;
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.services .items .iconify {
  position: absolute;
  bottom: 10%;
  right: 13%;
  font-size: 1.8rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #fff;
}

.services .items:hover img {
  top: 0;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.services .items:hover .iconify {
  position: absolute;
  z-index: 1;
  color: #fff;
  bottom: 20%;
  right: 45%;
}

.services .items:hover .title {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  position: relative;
  z-index: 1;
  color: #fff !important;
  text-align: center;
  background: rgba(0, 0, 0, 0.342);
}

.slick-dots li button {
  background: lightgrey !important;
}

.slick-dots li button:before {
  opacity: 0 !important;
}

.slick-dots li.slick-active button {
  background: #0038C5 !important;
}

#contact {
  font-size: 16px;
  font-family: "poppins-Light";
}

footer .nav-item a {
  color: lightgray !important;
  text-decoration: none;
}

footer .nav-item a:hover {
  color: white !important;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social a {
  margin: 0 11px 0 0;
  text-decoration: none;
  color: #0d6efd;
}

.social a .iconify {
  font-size: 1.5rem;
}

.social a:hover {
  color: lightgray;
}

.aboutUs {
  min-height: 100vh;
  background: url(../images/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55% 27%;
}

.aboutUs .inner {
  margin: 160px 0;
  color: grey;
  font-weight: 400;
}

.banner {
  position: relative;
  height: 250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
}

.banner .title {
  font-size: 62px;
  color: #1f3ac8;
  font-weight: bold;
  font-family: 'poppins-bold';
  text-align: center;
  position: relative;
  z-index: 1;
  text-shadow: 0px 0px 9px #e1ecff;
}

.banner img {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.services-details {
  background: #f9f9f9;
}

.ftco-section .heading-section {
  font-size: 28px;
  color: #000;
}

.ftco-section .contact-wrap {
  background: #e8edf0;
}

.ftco-section .contactForm .label {
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.ftco-section #contactForm .form-control {
  font-size: 16px;
}

.ftco-section .form-group {
  margin-bottom: 1rem;
}
/*# sourceMappingURL=app.css.map */